#header, .module caption {
    background: #3F4137;
}

div.breadcrumbs {
    background: #6A6E5D;
}

.module h2, .module caption, .inline-group h2 {
    background: #6A6E5D;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: none;
    font-weight: 400;
    background: #6A6E5D;
}